.app {
    background-color:#F3DA54;
    width: 100vw;
    height: 100vh;  
}

.title {
    font-size: 72px;
}

.noteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    bottom: 295px;
}

.input {
    width: 60vw;
    height: 70px;
    background-color:#222222;
    border-radius: 15px;
    font-size: 33px;
}



